:root {
    --white: #ffffff;
    --gray: #575757;
    --black: #131313;
    --blue: #3449ff;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    background-color: var(--black);
    color: var(--gray);
}

h2 {
    color: var(--white);
}

.section {
    margin-top: 50px;
}

.section > h3 {
    font-weight: 500;
    color: var(--white);
}

b { font-weight: 500; }

a {
    color: var(--blue);
    text-decoration: none;
}

#container {
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 100px 0px;
}

#contact {
    display: flex;
    gap: 10px;
}