:root {
    --white: #ffffff;
    --black: #3b3b3b;
    --blue: #3449ff;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    color: var(--black);
}

.section {
    margin-top: 50px;
}

.section > h3 {
    font-weight: 500;
}

b { font-weight: 500; }

a {
    color: var(--blue);
    text-decoration: none;
}

#container {
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 100px 0px;
}